 .queue {
    border-collapse: collapse;
    position: absolute;
    margin-left: 250px;
    margin-right: auto;
    margin-top: 200px;
  
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.queue thead tr {
  background-color:  #25b7c4;;
  color: #ffffff;
  text-align: left;
}

.queue th,
.queue td {
    padding: 12px 15px;
}

.queue tbody tr {
  border-bottom: 1px solid #dddddd;
}

.queue tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.queue tbody tr:last-of-type {
  border-bottom: 2px solid #25b7c4;
}

.queue tbody tr.active-row {
  font-weight: bold;
  color: #25b7c4;
}

.assignments {
  border-collapse: collapse;
  position: fixed;
  margin-left: 250px;
  margin-right: auto;
  margin-top: 400px;

  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.assignments thead tr {
background-color:  #25b7c4;;
color: #ffffff;
text-align: left;
}

.assignments th,
.assignments td {
  padding: 12px 15px;
}

.assignments tbody tr {
border-bottom: 1px solid #dddddd;
}

.assignments tbody tr:nth-of-type(even) {
background-color: #f3f3f3;
}

.assignments tbody tr:last-of-type {
border-bottom: 2px solid #25b7c4;
}

.assignments tbody tr.active-row {
font-weight: bold;
color: #25b7c4;
}

<<<<<<< HEAD
.num_patient_queue{
  border-collapse: collapse;
  position: fixed;
  margin-left: 250px;
  margin-right: 600px;
  margin-top: 80px;

  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 100px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.num_patient_queue thead tr{
  background-color:  #25b7c4;;
  color: #ffffff;
  text-align: left;
}
.num_patient_queue tbody tr {
  border-bottom: 1px solid #dddddd;
  }
  
.num_patient_queue tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
  }
    
.num_patient_queue tbody tr:last-of-type {
  border-bottom: 2px solid #25b7c4;
  }

.num_telenurse_queue{
  border-collapse: collapse;
  position: fixed;
  margin-left: 500px;
  margin-right: 400px;
  margin-top: 80px;
  
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 100px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
  
.num_telenurse_queue thead tr{
  background-color:  #25b7c4;;
  color: #ffffff;
  text-align: left;
}

.num_telenurse_queue tbody tr {
  border-bottom: 1px solid #dddddd;
  }
    
.num_telenurse_queue tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
  }
      
.num_telenurse_queue tbody tr:last-of-type {
  border-bottom: 2px solid #25b7c4;
  }

.participating_facilities{
  border-collapse: collapse;
  position: fixed;
  margin-left: 800px;
  margin-right: 900px;
  margin-top: 80px;
  
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
=======
.dot {
  height: 100px;
  width: 100px;
  margin-left: 1120px;
  margin-top: 15px;
  background-color: rgb(126, 126, 126);
  border-radius: 50%;
  display: inline-block;
}

.User{
  margin-left: 1115px;
  position: absolute;
  margin-top: 125px;
    font-family: sans-serif;
>>>>>>> 76f11dbaf0c5ff7ffe462138a099861b2920b5b3
}
  
.participating_facilities thead tr{
  background-color:  #25b7c4;;
  color: #ffffff;
  text-align: left;
}

.participating_facilities tbody tr {
  border-bottom: 1px solid #dddddd;
  }
    
.participating_facilities tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
  }
      
.participating_facilities tbody tr:last-of-type {
  border-bottom: 2px solid #25b7c4;
    }
    
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #E7F6FF;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    max-height: 100%;
    font-weight: bold;
    font-family: sans-serif;
  }

 
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }

  
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar 
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
 On screens that are less than 400px, display the bar vertically, instead of horizontally
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
*/
  
  