.queue {
    border-collapse: collapse;
    position: absolute;
    margin-left: 250px;
    margin-right: auto;
    margin-top: auto;
  
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.queue thead tr {
  background-color:  #25b7c4;;
  color: #ffffff;
  text-align: left;
}

.queue th,
.queue td {
    padding: 12px 15px;
}

.queue tbody tr {
  border-bottom: 1px solid #dddddd;
}

.queue tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.queue tbody tr:last-of-type {
  border-bottom: 2px solid #25b7c4;
}

.queue tbody tr.active-row {
  font-weight: bold;
  color: #25b7c4;
}

  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #E7F6FF;
    color: white;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    max-height: 100%;
    font-weight: bold;
    font-family: sans-serif;
  }

 
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  